
.header-nav{
  background-color: inherit;
  h3{
  display:none;
  }
  a{
    margin-right: 1em;
    text-decoration: none;
    color: inherit;
    font-family:'Comic Sans MS';
    font-weight: bold;
  }
  li{
    list-style: none;
  }
  
}


#blockcart-wrapper{
  margin-top: auto;
    .cart-preview{
      margin-right: 1em;
    }
   .cart-preview .header {
     border:none;
     padding:0;
     background-color:transparent;
   }
}

.user-info a{
  border:none;
  padding:0;
  background-color:transparent;
  font-weight: bold;
}
